body {
    margin: 0 0 0 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12pt;
}

a {
    color: #000000;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    background: url('../assets/header_bg.jpg') no-repeat center center / cover;
    /*background: -webkit-linear-gradient(top left, #f44250 0%, #ffc371 100%) no-repeat center center / cover;*/
    -webkit-box-shadow: 0 -3px 14px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 -3px 14px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 -3px 14px 0 rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

header a {
    color: #ffffff;
}

main {}

footer {
    padding: 50px 20px 50px 20px;
    background-color: darkgrey;
}

textarea {
    resize: none;
}

.header_box {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    text-align: center;
    color: white;
}

.header__avatar {
    vertical-align: middle;
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.main__article_container {
    padding-top: 15px;
    padding-right: 20px;
}

.main__article {
    /*background-color: lightgrey;*/
}

.main__article:nth-child(2n+0) {
    background-color: lightgrey;
}

.main__text_center {
    text-align: center;
}

.main__article_content {
    margin: auto;
    padding: 20vh 8px 20vh 8px;
    max-width: 850px;
}

.main__article_content_center, .main__article_content_flexstart, .main__article_content_flexend, .main__article_content_spacearound,
.footer__center_wrapper {
    display: flex;
}

.main__article_content_center {
    justify-content: center;
}

.main__article_content_flexstart {
    justify-content: flex-start;
}

.main__article_content_flexend {
    justify-content: flex-end;
}

.main__article_content_spacearound {
    justify-content: space-around;
}

.footer__email_formular {
    background-color: white;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 70px;
}

.footer__center_wrapper {
    justify-content: center;
}

.footer__link {
    margin: 8px;
}

.text_color_black {
    color: black;
}

.input_width {
    width: 100% !important;
}

.carousel_image_size {
    vertical-align: middle;
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.language_bar_de {
    background-color: dodgerblue;
    width: 125px;
    padding: 5px;
}

.language_bar_en {
    background-color: dodgerblue;
    border-right: 35px solid grey;
    width: 125px;
    padding: 5px;
}